<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<% include ../partials/cssLinks.ejs %>
	<link rel="stylesheet" type="" href="/css/insights.css">
</head>
<body>

	<% include ../partials/navbar.ejs %>

	<br><br><br><br>

	<div class="container">

		<h2>Insights</h2>

		<p id="msg"></p>

		<div class="insightCategory">
			<h3>Find average engagement score for a particular publisher:</h3><br>
			<input type="text" placeholder="Publisher Name" id="publisher" oninput="pubInfoChange()"></input>
			<div class="suggestionBox" id="pubSuggest" style="display: none"></div>
			<button onClick="pubInfoClick()">Go</button>
			<p id="pubInfoText"></p>
		</div>

		<div class="insightCategory">
			<h3>Find average engagement score for a particular author:</h3><br>
			<input type="text" placeholder="Author Name" id="author" oninput="authInfoChange()"></input>
			<div class="suggestionBox" id="authSuggest" style="display: none"></div>
			<button onClick="authInfoClick()">Go</button>
			<p id="authInfoText"></p>
		</div>

		<br><br>

		<h3>Some quick statistics on the Emphasis-DB Database!</h3><br>

		<button onClick="getAllInsights()">Click to retrieve data</button>

		<p id='all-msg'></p>

		<hr>

		<p>
			<div class="insightCategory">
			<div class="categoryTitle">ALL:</div><br>
			Quantity: <span id='qty-all'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-all'></span>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">News:</div><br>
			Quantity: <span id='qty-news'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-news'></span>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Opinion:</div><br>
			Quantity: <span id='qty-opinion'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-opinion'></span>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Fiction:</div><br>
			Quantity: <span id='qty-fiction'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-fiction'></span>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Marketing:</div><br>
			Quantity: <span id='qty-marketing'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-marketing'></span>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Business:</div><br>
			Quantity: <span id='qty-business'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-business'></span>
			</div>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Legal:</div><br>
			Quantity: <span id='qty-legal'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-legal'></span>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Technical:</div><br>
			Quantity: <span id='qty-technical'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-technical'></span>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Academic:</div><br>
			Quantity: <span id='qty-academic'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-academic'></span>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Oratory:</div><br>
			Quantity: <span id='qty-oratory'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-oratory'></span></div><br>
			</div>
			<div class="insightCategory">
			<div class="categoryTitle">Other:</div><br>
			Quantity: <span id='qty-other'></span><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<span id='eng-other'></span>
			</div><br>
		</div>
			<br>
		</p>

	</div>

	<% include ../partials/jsLinks.ejs %>

	<script type="text/javascript" src="/js/insights.js"></script>

</body>
</html>
